@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<p>
    Para saber mais, entre em contato com um dos membros do grupo:
    <ul>
        <li>Romulo</li>
        <li>Gabriel</li>
        <li>Daniel</li>
        <li>Bernado</li>
        <li>Diego</li>
    </ul>
</p>
