@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Seja bem vindo!</h1>
    <p class="lead">Para poder gerenciar os clientes é preciso se logar no sistema.</p>
    @*@if (!User.Identity.IsAuthenticated)
    {
        <p>@Html.ActionLink("Sign in", "Formulario", "Autenticador", null, new { @class = "btn btn-primary btn-lg" })</p>
    }*@    
</div>
