@{
    ViewBag.Title = "About";
}
<h2>Sobre</h2>
<h3>Propositos</h3>

<p>O GNB foi fundado em 2015 com o proposito de oferecer as melhores formas de investimento, 
    credito e gerenciamento de recursos no Brasil.</p>
