@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>

<address>
    Rua da candelária, Centro,  RJ<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Suporte:</strong>   <a href="#">suporte@gnb.com</a><br />
    <strong>Marketing:</strong> <a href="#">marketing@gnb.com</a>
</address>