@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Content/img/gnb.gif" width="240" height="120" alt="" ></h1>
    <p class="lead">Bem vindo ao Goliah National Bank, o melhor banco para investir e guardar o seu dinheiro no Brasil.</p>
    <a href="#" class="btn btn-primary btn-lg">Saiba mais &raquo;</a>
    <a href="@Url.Action("Deposito", "Transacoes")" class="elements btn btn-primary btn-lg" style="margin-left: 50%">Operações sem Autenticação</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Conheça o GNB</h2>
        <p>
            O GNB , bla bla bla e etc... 
        </p>
        <p><a class="btn btn-default" href="#">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Abra sua conta</h2>
        <p>Blá blá blá ...</p>
        <p><a class="btn btn-default" href="#">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conheça nossos produtos</h2>
        <p>Blá blá blá ...</p>
        <p><a class="btn btn-default" href="#">Saiba mais &raquo;</a></p>
    </div>
</div>