
@{
    ViewBag.Title = "Cheque";
}

<h2 align="center">Emissao de Cheque</h2>

<div class="form-group" style="font-size:large; margin-top:10%">
    <label for="folhas">Digite a quantidade de folhas para impressão (4 a 20)</label>
    <input type="text" class="form-control" id="folhas">
</div>

<button type="submit" class="btn">Confirmar</button>