
@{
    ViewBag.Title = "ConfInvestimento";
}

<h2 align="center">Confirmação do Investimento</h2>

<div style="font-size:large; margin-top:5%">
    <p>Código de confirmação: ###</p>
    <p>Valor investido: ###</p>
    <p>Rendimento ao mês: ###</p>
    <p>Rendimento ao ano: ###</p>
</div>

<div align="center" style="margin-top: 10%">
    <a href="@Url.Action("Rendimento")"> <button class="btn-success btn-lg">Finalizar</button> </a>
</div>