
@{
    ViewBag.Title = "ExtratoPeriodo";
}

<h2 align="center">Digite o período do extrato</h2>

<div align="center" style="margin-top:10%">
    <div class="form-group">
        <label for="dataI">Período Inicial:</label>
        <input type="date" class="form-control" id="dataI" placeholder="mm/aaaa">
    </div>
    <div class="form-group">
        <label for="dataF">Período Final:</label>
        <input type="date" class="form-control" id="dataF" placeholder="mm/aaaa">
    </div>
</div>
<div align="center">
    <a href="@Url.Action("Autenticacao")" class="elements btn btn-primary btn-lg" style="margin-top: 10%">Extrato na tela</a>
    <a href="@Url.Action("Autenticacao")" class="elements btn btn-primary btn-lg" style="margin-left: 50%; margin-top: 10%">Extrato impresso</a>
</div>