
@{
    ViewBag.Title = "Pagamentos";
}

<h2 align="center">Pagamentos</h2>

<div class="container" align="center">
    <a href="@Url.Action("Autenticacao")" class="elements btn btn-primary btn-lg" style="margin-top: 10%">Títulos</a>
    <a href="@Url.Action("Autenticacao")" class="elements btn btn-primary btn-lg" style="margin-left: 50%; margin-top: 10%">Tributos</a>
</div>