
@{
    ViewBag.Title = "PgmtoVencido";
}

<h2 align="center">Pagamento Vencido</h2>

<div style="margin-top:10%">
    <p>Seu boleto está vencido. Vá à uma agência bancária ou casa lotérica para efetuar seu pagamento.</p>
</div>