
@{
    ViewBag.Title = "PgmtoVlrVenc";
}

<h2 align="center">Pagamentos</h2>

<div class="form-group" style="font-size:large; margin-top:10%" align="center">
    <label for="valor">Digite o valor do pagamento</label>
    <input type="text" class="form-control" id="cod">
</div>

<div class="form-group" style="font-size:large; margin-top:10%" align="center">
    <label for="venc">Digite a data de vencimento</label>
    <input type="text" class="form-control" id="venc">
</div>