
@{
    ViewBag.Title = "Rendimento";
}

<h2 align="center">Rendimento Esperado</h2>

<div style="font-size:large; margin-top:5%">
    <p>Valor investido: ###</p>
    <p>Rendimento ao mês: ###</p>
    <p>Rendimento ao ano: ###</p>
</div>

<form style="font-size:large; margin-top: 10%">
    <div class="form-group" align="center">
        <label for="canc">Data de cancelamento (opcional):</label>
        <input type="date" class="form-control" id="canc" placeholder="dd/mm/aaaa">
    </div>
</form>

<div align="center" style="margin-top: 10%">
    <a href="@Url.Action("Autenticacao")"> <button class="btn-success btn-lg">Confirmar</button> </a>
    <a href="@Url.Action("Index", "Home")"> <button class="btn-primary btn-lg" style="margin-left: 50%;">Voltar</button> </a>
</div>