
@{
    ViewBag.Title = "Saldo";
}


<div class="container" align="center">
    <h1 align="center">Escolha uma de suas contas</h1>
    <a href="@Url.Action("Autenticacao")" class="elements btn btn-primary btn-lg" style="margin-top: 10%">ContaX</a>
    <a href="@Url.Action("Autenticacao")" class="elements btn btn-primary btn-lg" style="margin-left: 50%; margin-top: 10%">ContaY</a>
</div>