
@{
    ViewBag.Title = "Saque";
}

<h2 align="center">Saque</h2>

<div class="container" align="center">
    <a href="@Url.Action("Autenticacao")">
        <div class="btn-group">
            <div class="col-md-6"> <button class="btn-primary btn-lg" style="margin-left: 0%;  margin-top: 20%;"> R$10,00 </button> </div>
            <div class="col-md-6"> <button class="btn-primary btn-lg" style="margin-left: 20%; margin-top: 20%;"> R$20,00 </button> </div>
            <div class="col-md-6"> <button class="btn-primary btn-lg" style="margin-left: 0%;  margin-top: 20%;"> R$40,00 </button> </div>
            <div class="col-md-6"> <button class="btn-primary btn-lg" style="margin-left: 20%; margin-top: 20%;"> R$50,00 </button> </div>
            <div class="col-md-6"> <button class="btn-primary btn-lg" style="margin-left: 0%;  margin-top: 20%;"> R$80,00 </button> </div>
            <div class="col-md-6"> <button class="btn-primary btn-lg" style="margin-left: 20%; margin-top: 20%;"> R$100,00</button> </div>
        </div>
     </a>
</div>

<div align="center">
    <p style="font-size:large; margin-top:10%">Outro valor</p>
    R$<input type="text" class="span2">0,00
    <a href="@Url.Action("Autenticacao")"> <button type="submit" class="btn">Confirmar</button> </a>
    <p>Valor limite excedido. // Não há notas disponíveis para esse valor.</p>
</div>
<div align="center" style="margin-top:10%">
    Notas disponíveis:
</div>