@model LoginBancoTeste.Models.Conta
@{
    ViewBag.Title = "Saldo";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Saldo</h2>
    </div>
    <div class="panel-body">
        R$: @Html.DisplayFor(model => model.Saldo)
    </div>
</div>

<p>
    <a href="@Url.Action("Opcoes", "Transacoes", new { numero = Model.Numero })" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Voltar
    </a>
</p>