@model LoginBancoTeste.Models.Conta
@{
    ViewBag.Title = "Saldo";
    Layout = "~/Views/Shared/_TransacoesLayout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Saldo</h2>
    </div>
    <div class="panel-body">
        @Html.DisplayFor(model => model.Saldo)
    </div>
</div>

<p>
    @Html.ActionLink("Voltar", "Opcoes", new { numero = Model.Numero }, new { @class = "btn btn-default" } )
</p>